/auth.json
/node_modules
/public/hot
/public/storage
/public/.htaccess
/storage/pail
/public/build
/safe_uploads/passports_scans/*
/safe_uploads/identification_codes/*
/storage/*.key
/vendor
/.fleet
/.nova
/.vscode
/.zed
/.idea
/.vagrant
/.phpunit.cache
/nbproject
/docker
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.env.production
.DS_Store
.phpactor.json
.phpunit.result.cache
composer.lock
public/images/contact-form-media/*
public/images/product_category_photos/*
public/images/products/*
public/images/uploads/*
public/images/users_photos/*
public/images/users_documents/*
public/images/documents/*
public/images/qrcodes/*
Thumbs.db
*.css.map
*.log
/.osp/project.ini
